.adminDashboardComponentBlankLine {
  margin: 0;
}
.adminDashboardComponentMainText1Container{
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.adminDashboardComponentMainText1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #557153;
}
.adminDashboardComponentTopSection {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.88rem;
}
.adminDashboardComponentMainText2 {
  align-self: stretch;
  position: relative;
  color: #557153;
}

.adminDashboardComponentCard{
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: 2.44rem 2.5rem;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 0.63rem;
  font-size: 0.75rem;
  color: #fff;
}
.adminDashboardComponentLegendSubTitle,
.wholesale {
  position: relative;
  letter-spacing: 0.04em;
}
.adminDashboardComponentLegendSubTitle {
  letter-spacing: -0.02em;
  font-weight: 500;
}
.adminDashboardComponentLegendBoxWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.06rem;
}
.adminDashboardComponentLegendChild1{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(150, 236, 40, 0.52);
  width: 5.63rem;
  height: 1.13rem;
}
.adminDashboardComponentLegendVector {
  position: relative;
  width: 5.63rem;
  height: 1.13rem;
}
.adminDashboardComponentLegendBox {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 2.25rem 2.31rem;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  transition:0.5s;
}
.adminDashboardComponentLegendBox:hover{
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.20);
}

.adminDashboardComponentLegendChild3,
.adminDashboardComponentLegendChild2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(132, 210, 197, 0.54);
  width: 5.63rem;
  height: 1.13rem;
}
.adminDashboardComponentLegendChild3 {
  background-color: rgba(255, 165, 0, 0.43);
}
.adminDashboardComponentLegendSection {
  align-self: stretch;
  height: 9.31rem;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.56rem;
  font-size: 0.69rem;
}
.adminDashboardComponentMiddleSection,
.adminDashboardComponentOverview,
.adminDashboardComponentLegendSection {
  display: flex;
  justify-content: flex-start;
}
.adminDashboardComponentOverview {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.adminDashboardComponentMiddleSection {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.25rem;
  color: #0d1118;
}
.adminDashboardComponent,
.adminDashboardComponentMainPanel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.adminDashboardComponentMainPanel {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: 2.75rem 3.38rem;
  gap: 3.19rem;
  font-size: 1.31rem;
  color: #151630;
}

.adminDashboardComponentButtonIcon {
  position: relative;
  width: 1rem;
  height: 1rem;
  color: white;
}

.adminDashboardComponentButton {
  cursor: pointer;
  border: 0;
  padding: 0.75rem 1.13rem;
  background-color: #27ae60;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.38rem;
  transition: 0.3s;
}

.adminDashboardComponentButton:hover {
  background-color: #598025;
}

.adminDashboardComponentButtonText {
  position: relative;
  font-size: 0.88rem;
  letter-spacing: 0.46px;
  font-weight: 600;    
  color: #fff;
  text-align: center;
}

.adminDashboardComponent {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 45.54rem;
  flex-direction: row;
  gap: 0.06rem;
  text-align: left;
  font-size: 1.13rem;
  color: #fff;
  min-height: 100vh; /* Set a minimum height of 100 viewport height units */
  height: 100%; /* Use 100% height to fill the available space */
  font-family: Arial, Helvetica, sans-serif;
}







@media screen and (max-width: 960px) {
  .welcome-to-dashboard {
    padding-right: 0;
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .middle-section,
  .top-section {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .welcome-to-dashboard {
    width: 100%;
  }
  .main-panel {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
}



@media screen and (max-width: 960px) {
  .adminDashboardComponentMainText1 {
    padding-right: 0;
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .adminDashboardComponentTopSection {
    flex-direction: column;
  }
  .adminDashboardComponentOverview {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .adminDashboardComponentMiddleSection {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .adminDashboardComponentMainText1 {
    width: 100%;
  }
  .adminDashboardComponentMainPanel {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
 
  .adminDashboardComponentLegendBox {
    flex: unset;
    align-self: stretch;
  }
  .adminDashboardComponentLegendSection {
    flex-direction: column;
  }
}
