.adminMarketplaceComponentBlankLine {
    margin: 0;
    color: #557153;
  }
  .adminMarketplaceComponentMainTextWrapper {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
  }
  .adminMarketplaceComponentMainText {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .adminMarketplaceComponentTopSection {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.88rem;
  }
  .adminMarketplaceComponentButtonIcon {
    position: relative;
    width: 1rem;
    height: 1rem;
    color: white;
  }
  .button {
    position: relative;
    font-size: 1.13rem;
    letter-spacing: 0.46px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }
  .adminMarketplaceComponentButton {
    cursor: pointer;
    border: 0;
    padding: 0.75rem 1.13rem;
    background-color: #27ae60;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.38rem;
    transition: 0.3s;
  }
  .adminMarketplaceComponentButton:hover {
    background-color: #598025;
  }
  .adminMarketplaceComponentButtonText {
    position: relative;
    font-size: 0.88rem;
    letter-spacing: 0.46px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }
  .adminMarketplaceComponentDetails {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.63rem;
    align-self: stretch;
  }
  .adminMarketplaceComponentMiddleSection {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .adminMarketplaceComponentMiddleSection {
    flex-direction: row;
    align-items: flex-end;
    font-size: 1.63rem;
    color: #1a202e;
  }
  .adminMarketplaceComponent,
  .adminMarketplaceComponentMainPanel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .adminMarketplaceComponentMainPanel {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    padding: 2.75rem 3.38rem;
    gap: 3.19rem;
    font-size: 1.31rem;
    color: #151630;
  }
  .adminMarketplaceComponent {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 52.94rem;
    flex-direction: row;
    gap: 0.06rem;
    text-align: left;
    font-size: 1.13rem;
    color: #fff;
    height: 100%;
    min-height: 100vh;
  }
  .adminMarketplaceComponentFrameParent {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.88rem;
  }
  .adminMarketplaceComponentFrameWrapper {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .adminMarketplaceComponentRectangleParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    border: 0.7px solid #dee3eb;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    gap: 0.25rem;
    cursor: pointer;
    width: 32%;
    margin-bottom: 1.25rem;
    transition: 0.5s;
    color: inherit;
    margin-right: 1rem;
  }
  .adminMarketplaceComponentRectangleParent:hover {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  }
  .adminMarketplaceComponentFrameChild {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 15rem;
    flex-shrink: 0;
    object-fit: cover;
  }
  .adminMarketplaceComponentFrameGroup {
    align-self: stretch;
    flex-direction: column;
    padding: 1rem;
    gap: 0.81rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .adminMarketplaceComponentFrameContainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
  }
  .adminMarketplaceComponentSubText1Wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .adminMarketplaceComponentSubText1 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.02em;
    line-height: 2.13rem;
  }
  .adminMarketplaceComponentSubText2Wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem;
  }
  .adminMarketplaceComponentSubText2 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 1.75rem;
  }
  .adminMarketplaceComponentFrameItem {
    align-self: stretch;
    position: relative;
    border-top: 0.7px solid #ecf0f6;
    box-sizing: border-box;
    height: 0.04rem;
  }
  .adminMarketplaceComponentForumNumber {
    flex-direction: row;
    padding: 0 0.75rem 0 0;
    align-items: center;
    gap: 0.63rem;
    font-size: 1.06rem;
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .adminMarketplaceComponentForumContainer {
    border-radius: 6px;
    border: 1px solid #bac2d6;
    display: flex;
    flex-direction: column;
    padding: 0.88rem 1.88rem;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    transition: 0.5s;
  }
  .adminMarketplaceComponentForumContainer:hover {
    background-color: #e5fce7;
  }
  .adminMarketplaceComponentForumNumberBox {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  .adminMarketplaceComponentCard {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    height: 500px;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }
  .adminMarketplaceComponentSubTitle {
    background-color: #e7e7e7;
    padding: 10px;
    margin-right: 8px;
    margin-left: 30px;
    text-align: start;
    font-size: 1rem;
    font-weight: 600;
  }
  .adminMarketplaceComponentShow {
    text-align: justify;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 8px;
    margin-left: 40px;
    text-align: start;
  }
  .adminMarketplaceComponentRowSelect {
    padding: 8px;
    border: 1px solid #7d8f69;
    border-radius: 4px;
    font-size: 14px;    
    margin-right: 0.5rem;
  }

  .adminMarketplaceComponentRowSelect:focus {
    outline: none;
    border-color: #557153;
  }
  @media screen and (max-width: 1200px) {
    .adminMarketplaceComponentForumContainer {
      padding-left: 1rem;
      padding-right: 1rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 960px) {
    .adminMarketplaceComponentMainText {
      padding-right: 0;
      box-sizing: border-box;
      flex: unset;
      align-self: stretch;
    }
    .adminMarketplaceComponentTopSection {
      flex-direction: column;
    }
    .adminMarketplaceComponentButton {
      margin-right: auto;
    }
    .adminMarketplaceComponentMiddleSection {
      flex-direction: column;
    }
    .adminMarketplaceComponentFrameParent {
      flex: unset;
      align-self: stretch;
    }
  }
  @media screen and (max-width: 420px) {
    .adminMarketplaceComponentMainText {
      width: 100%;
    }
    .adminMarketplaceComponentButton {
      width: 100% !important;
    }
    .adminMarketplaceComponentMainPanel {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      box-sizing: border-box;
    }
  }
  