

.farmerDashboardComponentBlankLine {
  margin: 0;
}
.farmerDashboardComponentMainText1Container{
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.farmerDashboardComponentMainText1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #557153;
}
.farmerDashboardComponentTopSection {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.88rem;
}
.farmerDashboardComponentMainText2 {
  align-self: stretch;
  position: relative;
  color: #557153;
}

.farmerDashboardComponentCard{
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: 2.44rem 2.5rem;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 0.63rem;
  font-size: 0.75rem;
  color: #fff;
}
.farmerDashboardComponentCard2{
  align-self: stretch; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 0.63rem;
  font-size: 0.75rem;
  color: #fff;
}


.farmerDashboardIcon2 {
  flex: 1;
  position: relative;  
  overflow: hidden;
  max-width: 100%;
  height: 20rem;
  object-fit:contain;
}

.farmerDashboardComponentLegendSubTitle,
.wholesale {
  position: relative;
  letter-spacing: 0.04em;
}
.farmerDashboardComponentLegendSubTitle {
  letter-spacing: -0.02em;
  font-weight: 500;
}
.farmerDashboardComponentLegendBoxWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.06rem;
}
.farmerDashboardComponentLegendChild1{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(150, 236, 40, 0.52);
  width: 5.63rem;
  height: 1.13rem;
}
.farmerDashboardComponentLegendVector {
  position: relative;
  width: 5.63rem;
  height: 1.13rem;
}
.farmerDashboardComponentLegendBox {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 2.25rem 2.31rem;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  transition:0.5s;
}
.farmerDashboardComponentLegendBox:hover{
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.20);
}

.farmerDashboardComponentLegendChild3,
.farmerDashboardComponentLegendChild2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(132, 210, 197, 0.54);
  width: 5.63rem;
  height: 1.13rem;
}
.farmerDashboardComponentLegendChild3 {
  background-color: rgba(255, 165, 0, 0.43);
}
.farmerDashboardComponentLegendSection {
  align-self: stretch;
  height: 9.31rem;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.56rem;
  font-size: 0.69rem;
}
.farmerDashboardComponentMiddleSection,
.farmerDashboardComponentOverview,
.farmerDashboardComponentLegendSection {
  display: flex;
  justify-content: flex-start;
}
.farmerDashboardComponentOverview {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.farmerDashboardComponentMiddleSection {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.25rem;
  color: #0d1118;
}
.farmerDashboardComponent,
.farmerDashboardComponentMainPanel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.farmerDashboardComponentMainPanel {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: 2.75rem 3.38rem;
  gap: 3.19rem;
  font-size: 1.31rem;
  color: #151630;
}

.farmerDashboardIcon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 30.06rem;
  object-fit: cover;
}

.farmerDashboardComponent {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 45.54rem;
  flex-direction: row;
  gap: 0.06rem;
  text-align: left;
  font-size: 1.13rem;
  color: #fff;
  min-height: 100vh; /* Set a minimum height of 100 viewport height units */
  height: 100%; /* Use 100% height to fill the available space */
  font-family: Arial, Helvetica, sans-serif;
}







@media screen and (max-width: 960px) {
  .welcome-to-dashboard {
    padding-right: 0;
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .middle-section,
  .top-section {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .welcome-to-dashboard {
    width: 100%;
  }
  .main-panel {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
}



@media screen and (max-width: 960px) {
  .farmerDashboardComponentMainText1 {
    padding-right: 0;
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .farmerDashboardComponentTopSection {
    flex-direction: column;
  }
  .farmerDashboardComponentOverview {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .farmerDashboardComponentMiddleSection {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .farmerDashboardComponentMainText1 {
    width: 100%;
  }
  .farmerDashboardComponentMainPanel {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
 
  .farmerDashboardComponentLegendBox {
    flex: unset;
    align-self: stretch;
  }
  .farmerDashboardComponentLegendSection {
    flex-direction: column;
  }
}
