.farmerCommunityForumComponentPopupWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Set a higher z-index value */
 
}

.farmerCommunityForumComponentPopupContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 100%;
  text-align: center;

}

.farmerCommunityForumComponentCloseButton {
  cursor: pointer;   
  text-align: right;
  display: flex;
  justify-content: flex-end;
}



.farmerCommunityForumComponentBlankLine {
  margin: 0;
}
.farmerCommunityForumComponentMainText2 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.farmerCommunityForumComponentMainText1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #557153;
}
.farmerCommunityForumComponentTopSection{
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.88rem;
}
.farmerCommunityForumComponentButtonIcon1 {
  position: relative;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  color: #fff;
}
.farmerCommunityForumComponentButtonText1 {
  position: relative;
  font-size: 1rem;
  letter-spacing: 0.46px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.farmerCommunityForumComponentButton1{
  cursor: pointer;
  border: 0;
  padding: 0.75rem 1.13rem;
  background-color: #27AE60;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.38rem;
  transition: 0.5s;
}
.farmerCommunityForumComponentButton1:hover {
  background-color: #598025;
}
.farmerCommunityForumComponentFrameChild,
.farmerCommunityForumComponentSubText1 {
  align-self: stretch;
  position: relative;
}
.farmerCommunityForumComponentFrameChild{
  max-width: 100%;
  overflow: hidden;
  height: 15rem;
  flex-shrink: 0;
  object-fit: cover;
}
.farmerCommunityForumComponentSubText1 {
  letter-spacing: 0.02em;
  line-height: 2.13rem;
}
.farmerCommunityForumComponentSubText1Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.farmerCommunityForumComponentSubText2{
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 1.75rem;
}
.farmerCommunityForumComponentFrameContainer,
.farmerCommunityForumComponentSubText2Wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.farmerCommunityForumComponentSubText2Wrapper2 {
  font-size: 1rem;
}
.farmerCommunityForumComponentFrameContainer {
  gap: 0.5rem;
}
.farmerCommunityForumComponentFrameItem {
  align-self: stretch;
  position: relative;
  border-top: 0.7px solid #ecf0f6;
  box-sizing: border-box;
  height: 0.04rem;
}
.farmerCommunityForumComponentFrameIcon {
  position: relative;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}
.farmerCommunityForumComponentAuthorName,
.farmerCommunityForumComponentPostTime {
  position: relative;
  display: inline-block;
  width: 9.09rem;
}
.farmerCommunityForumComponentAuthorName {
  letter-spacing: -0.04em;
  font-weight: 600;
}
.farmerCommunityForumComponentPostTime {
  font-size: 0.88rem;
  color: #96a2be;
}
.farmerCommunityForumComponentFrameAuthor,
.farmerCommunityForumComponentAuthorText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.13rem;
}
.farmerCommunityForumComponentFrameAuthor {
  flex-direction: row;
  align-items: center;
  gap: 0.63rem;
  font-size: 1.06rem;
  color: #495367;
}
.farmerCommunityForumComponentFrameGroup {
  align-self: stretch;
  flex-direction: column;
  padding: 1rem;
  gap: 0.81rem;
}
.farmerCommunityForumComponentFrameGroup,
.farmerCommunityForumComponentFrameWrapper,
.farmerCommunityForumComponentRectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.farmerCommunityForumComponentRectangleParent {
  text-decoration: none;
  flex: 1;
  border-radius: 10px;
  background-color: #fff;
  border: 0.7px solid #dee3eb;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  gap: 0.25rem;
  cursor: pointer;
  width: 32%;
  margin-bottom: 1.25rem;
  transition: 0.5s;
  color: inherit;
  margin-right:1rem;
}
.farmerCommunityForumComponentRectangleParent:hover {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}
.farmerCommunityForumComponentFrameWrapper {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.farmerCommunityForumComponentForumNumberBox {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.farmerCommunityForumComponentForumContainer,
.farmerCommunityForumComponentForumWrapper1,
.farmerCommunityForumComponentForumWrapper2 {
  border-radius: 6px;
  border: 1px solid #bac2d6;
  display: flex;
  flex-direction: column;
  padding: 0.88rem 1.88rem;
  align-items: center;
  justify-content: center;
}

.farmerCommunityForumComponentForumContainer,
.farmerCommunityForumComponentForumWrapper2 {
  background-color: #fff;
}
.farmerCommunityForumComponentForumNumber {
  flex-direction: row;
  padding: 0 0.75rem 0 0;
  align-items: center;
  gap: 0.63rem;
  font-size: 1.06rem;
}

.farmerCommunityForumComponentForumContainer {
  cursor: pointer;
  transition: 0.5s;
}

.farmerCommunityForumComponentForumContainer:hover {
  background-color : #E5FCE7;
}

.farmerCommunityForumComponentForumNumber,
.farmerCommunityForumComponentFrameParent,
.farmerCommunityForumComponentMiddleSection {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.farmerCommunityForumComponentFrameParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.88rem;
}
.farmerCommunityForumComponentMiddleSection {
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.63rem;
  color: #1a202e;
}
.farmerCommunityForumComponent,
.farmerCommunityForumComponentMainPanel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.farmerCommunityForumComponentMainPanel {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: 2.75rem 3.38rem;
  gap: 3.19rem;
  font-size: 1.31rem;
  color: #151630;
}
.farmerCommunityForumComponent {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 52.94rem;
  flex-direction: row;
  gap: 0.06rem;
  text-align: left;
  font-size: 1.13rem;
  color: #fff;
  min-height: 100vh; /* Set a minimum height of 100 viewport height units */
  height: 100%; /* Use 100% height to fill the available space */
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 1200px) {
  
  .farmerCommunityForumComponentForumContainer,
  .farmerCommunityForumComponentForumWrapper1 {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .farmerCommunityForumComponentMainText1 {
    padding-right: 0;
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .farmerCommunityForumComponentTopSection {
    flex-direction: column;
  }
  .farmerCommunityForumComponentButton{
    margin-right: auto;
  }
  .farmerCommunityForumComponentFrameParent {
    flex: unset;
    align-self: stretch;
  }
  .farmerCommunityForumComponentMiddleSection {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .farmerCommunityForumComponentMainText1 {
    width: 100%;
  }
  .farmerCommunityForumComponentButton {
    width: 100% !important;
  }
  .farmerCommunityForumComponentMainPanel {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
}
