  .farmerTransactionsComponentBlankLine {   
    margin: 0;
    font-size: 1.31rem;
    color: #557153;
  }
  .farmerTransactionsComponentMainTextContainer {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
  }
  .farmerTransactionsComponentMainText {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .farmerTransactionsComponentTopSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.88rem;
  }
  .farmerTransactionsComponentMiddleSection,
  .farmerTransactionsComponentTopSection {
    align-self: stretch;
  }
  .farmerTransactionsComponent,
  .farmerTransactionsComponentMainPanel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .farmerTransactionsComponentMainPanel {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    padding: 2.75rem 3.38rem;
    gap: 3.19rem;
    font-size: 0.9rem;
    color: #434343;
  }
  .farmerTransactionsComponent {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 52.94rem;
    flex-direction: row;
    gap: 0.06rem;
    text-align: left;
    font-size: 1.13rem;
    color: #fff;
    height: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }

  .farmerTransactionsSubTitle {
    background-color: #e7e7e7;
    padding: 10px;
    margin-right: 8px;
    margin-left: 30px; 
    text-align: start;
    font-size: 1rem;
    
    font-weight: 600;
  }
  
  .farmerTransactionsCard {
    background-color: #f7f7f7;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    height: 500px;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }
  
  .farmerTransactionsTable {
      width: 100%;
      border-collapse: collapse;
    }
    
    .farmerTransactionsTable th, .farmerTransactionsTable td {
      padding: 10px;
      border: 1px solid #ccc;
    }
    
    .farmerTransactionsTable th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
    
    .farmerTransactionsTable tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    
    .farmerTransactionsTable tbody tr:hover {
    }
   
    .farmerTransactionsDropdown {
      padding: 8px;
      border: none;
      border-radius: 4px;
      background-color: #f1f1f1;
      color: #333;
      font-size: 14px;
      cursor: pointer;
    }
    
    .farmerTransactionsDropdown:hover {
      background-color: #ddd;
    }
    
    .farmerTransactionsDropdown:focus {
      outline: none;
      background-color: #e5e5e5;
    }
    
    
    .farmerTransactionsRowSelect {
      padding: 8px;
      border: 1px solid #7D8F69;
      border-radius: 4px;
      font-size: 14px;
    }
    
    .farmerTransactionsRowSelect:focus {
      outline: none;
      border-color: #557153;
    }
    .farmerTransactionsShow {
      text-align:justify;
      font-weight:500;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin-right: 8px;
      margin-left: 40px; 
      text-align: start;
    }  
  
    .farmerTransactionsTr {
      text-align: center;
    }

    .farmerTransactionsComponentCategories {
    flex-direction: row;
    padding: 0 0.75rem 0 0;
    align-items: center;
    gap: 0.63rem;
    font-size: 1.06rem;    
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }  

  .farmerTransactionsComponentPaginationContainer {
     border-radius: 6px;
    border: 1px solid #bac2d6;
    display: flex;
    flex-direction: column;
    padding: 0.88rem 1.88rem;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: 0.5s;
    cursor: pointer;
  }

  .farmerTransactionsComponentPaginationContainer:hover {
    background-color: #E5FCE7;
  }

  .farmerTransactionsComponentPaginationNumber {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 600;
  }  
   

    
    
    
  
  @media screen and (max-width: 960px) {
    .farmerTransactionsComponentMainText {
      padding-right: 0;
      box-sizing: border-box;
      flex: unset;
      align-self: stretch;
    }
    .farmerTransactionsComponentMiddleSection,
    .farmerTransactionsComponentTopSection{
      flex-direction: column;
    }
  }
  @media screen and (max-width: 420px) {
    .farmerTransactionsComponentMainText {
      width: 100%;
    }
    .farmerTransactionsComponentMainPanel {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      box-sizing: border-box;
    }
  }
  