.agripinaslogo-icon {
    position: relative;
    width: 3.08rem;
    height: 3.13rem;
    object-fit: cover;
  }
  .agripinas {
    position: relative;
    display: inline-block;
    width: 6.63rem;
    height: 1.36rem;
    flex-shrink: 0;
  }
  .agripinaslogo-parent {
    height: 1.84rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .community {
    position: absolute;
    top: 0;
    left: 2.51rem;
    display: inline-block;
    width: 6.63rem;
    height: 1.38rem;
  }
  .frame-child {
    position: absolute;
    top: 0.14rem;
    left: 0;
    width: 1.25rem;
    height: 1.05rem;
  }
  .community-parent {
    text-decoration: none;
    position: absolute;
    top: 7.47rem;
    left: 0.05rem;
    width: 9.14rem;
    height: 1.38rem;
    color: inherit;
  }
  .crop-tracker {
    position: absolute;
    top: 0;
    left: 2.55rem;
    display: inline-block;
    width: 6.94rem;
    height: 1.35rem;
  }
  .vector-icon {
    position: absolute;
    height: 90.91%;
    width: 12.99%;
    top: 4.55%;
    right: 87.01%;
    bottom: 4.55%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .crop-tracker-parent {
    text-decoration: none;
    position: absolute;
    top: 11.22rem;
    left: 0.02rem;
    width: 9.49rem;
    height: 1.35rem;
    color: inherit;
  }
  .dashboard {
    position: absolute;
    top: 0;
    left: 2.49rem;
    display: inline-block;
    width: 5.94rem;
    height: 1.35rem;
  }
  .home-1-icon {
    position: absolute;
    height: 77.27%;
    width: 13.09%;
    top: 4.55%;
    right: 86.91%;
    bottom: 18.18%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .dashboard-parent {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0.08rem;
    width: 8.42rem;
    height: 1.35rem;
    color: inherit;
  }
  .marketplace {
    position: absolute;
    top: 0;
    left: 2.56rem;
    display: inline-block;
    width: 6.88rem;
    height: 1.38rem;
  }
  .wallet-2-icon {
    position: absolute;
    height: 75.85%;
    width: 13.43%;
    top: 8.6%;
    right: 86.57%;
    bottom: 15.55%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .marketplace-parent {
    text-decoration: none;
    position: absolute;
    top: 3.78rem;
    left: 0;
    width: 9.44rem;
    height: 1.38rem;
    color: inherit;
  }
  .transactions {
    position: absolute;
    top: 0;
    left: 2.53rem;
    display: inline-block;
    width: 7rem;
    height: 1.38rem;
  }
  .store-icon {
    position: absolute;
    height: 75.85%;
    width: 12.57%;
    top: 14.1%;
    right: 87.43%;
    bottom: 10.05%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .transactions-parent {
    text-decoration: none;
    position: absolute;
    top: 14.91rem;
    left: 0.04rem;
    width: 9.53rem;
    height: 1.38rem;
    color: inherit;
  }
  .frame-parent,
  .side-bar-child {
    position: relative;
    width: 9.56rem;
    height: 16.28rem;
  }
  .side-bar-child {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
  }
  .side-bar {
    align-self: stretch;
    background-color: #557153;
    display: flex;
    flex-direction: column;
    padding: 3.31rem 2rem;
    align-items: center;
    justify-content: flex-start;
    gap: 5.81rem;
  }
  .FarmerAccountComponentBlankLine {
    margin: 0;
  }
  .FarmerAccountComponentSubText {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
  }
  .FarmerAccountComponentMainText {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .FarmerAccountComponentTopSection {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.88rem;
  }
  .FarmerAccountComponentFrameItem,
  .FarmerAccountComponentNameText {
    align-self: stretch;
    position: relative;
  }
  .FarmerAccountComponentFrameItem {
    max-width: 100%;
    overflow: hidden;
    height: 15rem;
    flex-shrink: 0;
    object-fit:contain;
  }
  .FarmerAccountComponentNameText {
    letter-spacing: 0.02em;
    line-height: 2.13rem;
  }
  .FarmerAccountComponentNameTextWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .FarmerAccountComponentRole{
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 1.75rem;
  }
  .FarmerAccountComponentRoleWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem;
  }
  .FarmerAccountComponentFrameGroup,
  .FarmerAccountComponentFrameWrapper,
  .FarmerAccountComponentRoleWrapper {
    align-self: stretch;
    flex-direction: column;
  }
  .FarmerAccountComponentFrameGroup {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
  }
  .FarmerAccountComponentFrameWrapper {
    padding: 1rem;
  }
  .FarmerAccountComponentCardsContainerInner,
  .FarmerAccountComponentFrameWrapper,
  .FarmerAccountComponentRectangleParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .FarmerAccountComponentRectangleParent {
    text-decoration: none;
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex-direction: column;
    gap: 0.25rem;
    cursor: pointer;
    width: 32%;
    margin-bottom: 1.25rem;
    transition: 0.3s;
    color: inherit;
  }
  .FarmerAccountComponentRectangleParent:hover {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  }
  .FarmerAccountComponentCardsContainerInner {
    align-self: stretch;
    width: 21.06rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .FarmerAccountComponentSmallCardsCourseName {
    position: relative;
    line-height: 2.73rem;
  }
  .FarmerAccountComponentDetailsChild {
    align-self: stretch;
    position: relative;
    border-top: 0.7px solid #434343;
    box-sizing: border-box;
    height: 0.04rem;
  }
  .FarmerAccountComponentSmallCardsDetails {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.75rem;
    color: #434343;
    
  
  }
  
  .FarmerAccountComponentFullDescription {
    flex: 1;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 1.75rem;
  }
  .FarmerAccountComponentFullDescriptionWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .FarmerAccountComponentButtonIcon {
    position: relative;
    width: 1rem;
    height: 1rem;
    color: white;
  }
  .FarmerAccountComponentButtonText {
    position: relative;
    font-size: 0.88rem;
    letter-spacing: 0.46px;
    font-weight: 600;
  
    color: #fff;
    text-align: center;
  }
  .FarmerAccountComponentButton {
    cursor: pointer;
    border: 0;
    padding: 0.75rem 1.13rem;
    margin: 0.1rem;
    background-color: #27ae60;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.38rem;
    transition: 0.3s;
  }
  .FarmerAccountComponentButton:hover {
    background-color: #598025;
  }
  .FarmerAccountComponentSmallCardsContent,
  .FarmerAccountComponentSmallCardsHeading {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .FarmerAccountComponentSmallCardsHeading {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 1.94rem;
  }
  .FarmerAccountComponentSmallCardsContent {
    padding: 1.25rem;
  }
  .FarmerAccountComponentSmallCardsContent,
  .FarmerAccountComponentSmallCardsDescription,
  .FarmerAccountComponentSmallCards {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .FarmerAccountComponentSmallCardsDescription {
    border-radius: 10.52px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
  }
  .FarmerAccountComponentSmallCards {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;    
    display: grid;
    place-items: center;   
    text-align: left;
    font-size: 1rem;   
   
  }
  
  .FarmerAccountComponentCardsContainer,
  .FarmerAccountComponentMiddleSection {
    align-self: stretch;
    display: flex;
    flex-direction: row;
  }
  .FarmerAccountComponentCardsContainer {
    flex: 1;
    background-color: #fff;
    padding: 0.38rem 3rem 3.06rem 0;
    align-items: flex-start;
    justify-content: center;
    gap: 1.25rem;
  }
  .FarmerAccountComponentMiddleSection {
    height: 29.94rem;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: center;
    font-size: 1.63rem;
    color: #1a202e;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
  }
  .FarmerAccountComponent,
  .FarmerAccountComponentMainPanel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .FarmerAccountComponentMainPanel {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    padding: 2.75rem 3.38rem;
    gap: 3.19rem;
    font-size: 1.31rem;
    color: #557153;
    
    
  }
  .FarmerAccountComponent {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 42.69rem;
    flex-direction: row;
    gap: 0.06rem;
    text-align: left;
    font-size: 1.13rem;
    color: #fff;
    min-height: 100vh; /* Set a minimum height of 100 viewport height units */
    height: 100%; /* Use 100% height to fill the available space */
  }

  @media screen and (max-width: 1600px) {
    .FarmerAccountComponentSmallCards {
      display: flex;    
    }
    .FarmerAccountComponentMiddleSection{
      width:100%;
    }
  }

 
  @media screen and (max-width: 1200px) {
    .side-bar {
      display: none;
    }
  }
  @media screen and (max-width: 960px) {
    .FarmerAccountComponentMainText{
      padding-right: 0;
      box-sizing: border-box;
      flex: unset;
      align-self: stretch;
    }
    .FarmerAccountComponentTopSection {
      flex-direction: column;
    }
    .FarmerAccountComponentButton {
      margin-right: auto;
    }
    .FarmerAccountComponentSmallCardsDescription {
      flex-direction: column;
    }
    .FarmerAccountComponentCardsContainer,
    .FarmerAccountComponentSmallCards {
      flex: unset;
      align-self: stretch;
    }
    .FarmerAccountComponentCardsContainer,
    .FarmerAccountComponentMiddleSection {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 420px) {
    .FarmerAccountComponentMainText {
      width: 100%;
    }
    .FarmerAccountComponentButton {
      width: 100% !important;
    }
    .main-panel {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      box-sizing: border-box;
    }
  }
  