.farmerPageNavigation {
    align-self: stretch;
    background-color: #557153;
    display: flex;
    flex-direction: column;
    padding: 3.31rem 2rem;
    align-items: center;
    justify-content: flex-start;
    gap: 5.81rem;

  }

  

  .farmerPageNavigationLogoParent {
    height: 1.84rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor:pointer;
    top: 9000%;
    position: sticky;
    top: 2rem;
  }

  .farmerPageNavigationLogoIcon {
    position: relative;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
  }
  .farmerPageNavigationMainText {
    position: relative;
    display: inline-block;
    width: 6.63rem;
    height: 1.36rem;
    flex-shrink: 0;
  }

  .farmerPageNavigationGroupParent {
    position: relative;
    width: 9.56rem;
    height: 16.28rem;
    position: sticky;
    top: 10rem;
    
  }

  .farmerPageNavigationLink1{
    text-decoration: none;
    position: absolute;
    top: 7.47rem;
    left: 0.05rem;
    width: 9.14rem;
    height: 1.38rem;
    color: inherit;
  
  }
  

  .farmerPageNavigationLinks {
    position: absolute;
    top: 0;
    left: 2.51rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    width: 8rem;
    height: 1.38rem;
    cursor:pointer;
    transition: 0.5s
  }

.active .farmerPageNavigationLinksIcon {
  color: #FBA403;
}

.farmerPageNavigationLinks:hover {
    color: #FBA403;
  }
  

  .farmerPageNavigationLinksIcon {
    position: absolute;
    top: 0.14rem;
    left: 0;
    width: 1.25rem;
    height: 1.05rem;
  }

  .farmerPageNavigationLink2 {
    text-decoration: none;
    position: absolute;
    top: 11.22rem;
    left: 0.02rem;
    width: 9.49rem;
    height: 1.35rem;
    color: inherit;
  }

  .farmerPageNavigationLink3 {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0.08rem;
    width: 8.42rem;
    height: 1.35rem;
    color: inherit;
  }

  .farmerPageNavigationLink4 {
    text-decoration: none;
    position: absolute;
    top: 3.78rem;
    left: 0;
    width: 9.44rem;
    height: 1.38rem;
    color: inherit;
  }

  .farmerPageNavigationLink5 {
    text-decoration: none;
    position: absolute;
    top: 14.91rem;
    left: 0.04rem;
    width: 9.53rem;
    height: 1.38rem;
    color: inherit;
  }

  .farmerPageNavigationProfileParent {
    position: relative;
    width: 6.25rem;
    height: 2.25rem;
  }

  .farmerPageNavigationProfile {
    position: absolute;
    height: 100%;
    width: 36%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 38%;
    border-radius: 50%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
    color: white;
  }

  .farmerPageNavigationProfile:hover {
    color: #FBA403;
  }

  
  .farmerPageNavigationProfile svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .farmerPageNavigationGroupItem {
    position: absolute;
    height: 84.48%;
    width: 0.7%;
    top: 7.76%;
    right: 55.3%;
    bottom: 7.76%;
    left: 44%;
    border-right: 0.7px solid black;
    box-sizing: border-box;
  }

  .farmerPageNavigationBellParent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    height: 74.07%;
    width: 24%;
    top: 12.96%;
    right: 76%;
    bottom: 12.96%;
    left: 0;
  }
  
  .farmerPageNavigationBell{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 4910%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    color: #A9AF7E
  }

  .farmerPageNavigationBell:hover {
    color: #FBA403;
  }
  
  .farmerPageNavigationBell svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .farmerPageNavigationMessageParent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    height: 74.07%;
    width: 24%;
    top: 12.96%;
    right: 76%;
    bottom: 12.96%;
    left: 0;
  }
  
  .farmerPageNavigationMessage{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 5190%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    color: #A9AF7E
  }

  .farmerPageNavigationMessage:hover {
    color: #FBA403;
  }
  
  .farmerPageNavigationMessage svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  

  .farmerPageNavigationInner {
    position: absolute;
    height: 35.98%;
    width: 39.98%;
    top: 3.9%;
    right: 0;
    bottom: 60.12%;
    left: 60.02%;
    border-radius: 50%;
    background-color: #fba403;  
  }
 

  @media screen and (max-width: 1200px) {
    .farmerPageNavigation {
      display: none;
    }
  }


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
