.farmerMarketplaceEditProductComponentMainText {
    font-size: 1.5rem;
    line-height: 2.13rem;
    font-weight: 600;
    color: #557153;
    margin-bottom: 1.38rem;
  }
  .farmerMarketplaceEditProductComponentMainText,
  .farmerMarketplaceEditProductComponentTitle{
    align-self: stretch;
    position: relative;
  }

  .farmerMarketplaceEditProductComponentTitleDescription {
    font-size: 1.5rem;
  }
  
  .farmerMarketplaceEditProductComponentInput1 {
    border: 1px solid #dee3eb;
    background-color: #fff;
    align-self: stretch;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 1rem 0.75rem;
    align-items: center;
    justify-content: flex-start;
    width: 20rem;
  }
  .farmerMarketplaceEditProductComponentInput1:focus {
    outline: 0;
  }
  .farmerMarketplaceEditProductComponentInputParent {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.38rem;
    font-size: 1rem;
  }
  .farmerMarketplaceEditProductComponentInput2,
  .farmerMarketplaceEditProductComponentFrameGroup,
  .farmerMarketplaceEditProductComponentInputParent{
    display: flex;
    justify-content: flex-start;
  }
  .farmerMarketplaceEditProductComponentInput2 {
    border: 1px solid #dee3eb;
    background-color: #fff;
    align-self: stretch;
    border-radius: 6px;
    overflow: hidden;
    flex-direction: row;
    padding: 1rem 0.75rem;
    align-items: center;
    outline: 0;
  }
  .farmerMarketplaceEditProductComponentFrameGroup{
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.13rem;
  }
  .farmerMarketplaceEditProductComponentInput3 {
    align-self: stretch;
    border-radius: 6px;
    background-color: #fff;
    overflow: hidden;
    outline: 0;
  }
  .farmerMarketplaceEditProductComponentFrameParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.13rem;
  }
  
  .farmerMarketplaceEditProductComponentInput4 {
    border: 1px solid #dee3eb;
    background-color: #fff;
    align-self: stretch;
    border-radius: 6px;
    box-sizing: border-box;
    height: 6.13rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: 1rem 0.75rem;
    align-items: flex-start;
    justify-content: flex-start;
    outline: 0;
    resize: none;
  }
  .farmerMarketplaceEditProductComponentButtonText {
    position: relative;
    line-height: 150%;
    font-weight: 600;
    color: #fff;
    text-align: left;
  }
  .farmerMarketplaceEditProductComponentButton {
    cursor: pointer;
    border: 0;
    padding: 0.5rem;
    background-color: #27ae60;
    border-radius: 0.2rem;
    width: 7.19rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    gap: 1rem;
  }
  
  .farmerMarketplaceEditProductComponentButton:hover {
    background-color: #598025;
  }
  
  .farmerMarketplaceEditProductComponentFormChild{
    flex: 1;
    width: 13.46rem;
  }
  .farmerMarketplaceEditProductComponent {
    position: relative;
    border-radius: 12px;
    background-color: #fff;
    width: 100%;
    height: 36.31rem;
    display: flex;
    flex-direction: column;
    padding: 1.75rem 1.88rem;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.06rem;
    text-align: left;
    color: #636363;
    margin-bottom: 2.5rem;
  
  }

  .farmerMarketplaceEditProductComponentButtonGroup {
    display: flex;
    gap: 1rem;
  }
  
  
  @media screen and (max-width: 960px) {
    .farmerMarketplaceEditProductComponentMainText {
      font-size: 1.13rem;
    }
    .farmerMarketplaceEditProductComponentTitle {
      font-size: 0.88rem;
    }
  }
  @media screen and (max-width: 420px) {
    .farmerMarketplaceEditProductComponentFrameGroup {
      flex: unset;
      align-self: stretch;
    }
    .farmerMarketplaceEditProductComponentFrameParent {
      flex-direction: column;
    }
    .farmerMarketplaceEditProductComponentButtonGroup {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  