.grown-with-care {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.25px;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}
.introducing-the {
  margin: 0;
}
.agripinas-mobile-app1 {
  font-weight: 700;
}
.agripinas-mobile-app {
  margin: 0;
  color: #434343;
}
.introducing-the-agripinas-container {
  align-self: stretch;
  position: relative;
  font-size: 3.13rem;
  letter-spacing: -0.25px;
  color: #557153;
}
.banner-titles {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.13rem;
}
.group-icon,
.group-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon1 {
  height: 16.62%;
  width: 58.64%;
  top: 19.77%;
  right: 11.85%;
  bottom: 63.61%;
  left: 29.51%;
}
.app-store {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 99.75%;
  width: 46.01%;
  top: 0;
  right: 0;
  bottom: 0.25%;
  left: 53.99%;
}
.g4036-icon,
.google-play {
  position: absolute;
  overflow: hidden;
}
.g4036-icon {
  height: 99.5%;
  width: 99.78%;
  top: 0.25%;
  right: 0.15%;
  bottom: 0.25%;
  left: 0.07%;
  max-width: 100%;
  max-height: 100%;
}
.google-play {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 9.61rem;
  height: 2.85rem;
}
.download-buttons {
  position: relative;
  width: 19.08rem;
  height: 2.85rem;
}
.banner-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.88rem;
}
.group-1334-1 {
  position: relative;
  width: 45.75rem;
  height: 33.75rem;
  object-fit: cover;
}
.banner-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.63rem;
}
.app-page-banner {
  position: relative;
  background-color: #ffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4.63rem 5.56rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 1.38rem;
  color: #434343;
  height: 100vh;
}

/* In your external stylesheet */
.download-buttons {
  /* Other styles */
}

.google-play {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.google-play:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


@media screen and (max-width: 1366px) {
  .app-page-banner {
    font-size: 1.2rem;
  }
  .introducing-the-agripinas-container {   
    font-size: 2rem;
   
  }
}

@media screen and (max-width: 1200px) {
  .app-page-banner {
    padding: 2.5rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .introducing-the-agripinas-container {
    font-size: 2.88rem;
  }
}
@media screen and (max-width: 420px) {
  .grown-with-care {
    font-size: 1.13rem;
  }
  .introducing-the-agripinas-container {
    font-size: 2rem;
  }
  .banner-text {
    width: 100% !important;
    padding: 24px !important;
  }
  .app-page-banner {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
