.buyerCommunityForumComponentBlankLine {
    margin: 0;
  }
  .buyerCommunityForumComponentMainText2 {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
  }
  .buyerCommunityForumComponentMainText1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #557153;
  }
  .buyerCommunityForumComponentTopSection{
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.88rem;
  }
  .buyerCommunityForumComponentButtonIcon {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    color: #fff;
  }
  .buyerCommunityForumComponentButtonText {
    position: relative;
    font-size: 1rem;
    letter-spacing: 0.46px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }
  .buyerCommunityForumComponentButton{
    cursor: pointer;
    border: 0;
    padding: 0.75rem 1.13rem;
    background-color: #27ae60;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.38rem;
    transition: 0.5s;
  }
  .buyerCommunityForumComponentButton:hover {
    background-color: #598025;
  }
  .buyerCommunityForumComponentFrameChild,
  .buyerCommunityForumComponentSubText1 {
    align-self: stretch;
    position: relative;
  }
  .buyerCommunityForumComponentFrameChild{
    max-width: 100%;
    overflow: hidden;
    height: 15rem;
    flex-shrink: 0;
    object-fit: cover;
  }
  .buyerCommunityForumComponentSubText1 {
    letter-spacing: 0.02em;
    line-height: 2.13rem;
  }
  .buyerCommunityForumComponentSubText1Wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .buyerCommunityForumComponentSubText2{
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 1.75rem;
  }
  .buyerCommunityForumComponentFrameContainer,
  .buyerCommunityForumComponentSubText2Wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .buyerCommunityForumComponentSubText2Wrapper2 {
    font-size: 1rem;
  }
  .buyerCommunityForumComponentFrameContainer {
    gap: 0.5rem;
  }
  .buyerCommunityForumComponentFrameItem {
    align-self: stretch;
    position: relative;
    border-top: 0.7px solid #ecf0f6;
    box-sizing: border-box;
    height: 0.04rem;
  }
  .buyerCommunityForumComponentFrameIcon {
    position: relative;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
  }
  .buyerCommunityForumComponentAuthorName,
  .buyerCommunityForumComponentPostTime {
    position: relative;
    display: inline-block;
    width: 9.09rem;
  }
  .buyerCommunityForumComponentAuthorName {
    letter-spacing: -0.04em;
    font-weight: 600;
  }
  .buyerCommunityForumComponentPostTime {
    font-size: 0.88rem;
    color: #96a2be;
  }
  .buyerCommunityForumComponentFrameAuthor,
  .buyerCommunityForumComponentAuthorText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.13rem;
  }
  .buyerCommunityForumComponentFrameAuthor {
    flex-direction: row;
    align-items: center;
    gap: 0.63rem;
    font-size: 1.06rem;
    color: #495367;
  }
  .buyerCommunityForumComponentFrameGroup {
    align-self: stretch;
    flex-direction: column;
    padding: 1rem;
    gap: 0.81rem;
  }
  .buyerCommunityForumComponentFrameGroup,
  .buyerCommunityForumComponentFrameWrapper,
  .buyerCommunityForumComponentRectangleParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .buyerCommunityForumComponentRectangleParent {
    text-decoration: none;
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    border: 0.7px solid #dee3eb;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    gap: 0.25rem;
    cursor: pointer;
    width: 32%;
    margin-bottom: 1.25rem;
    transition: 0.5s;
    color: inherit;
    margin-right:1rem;
  }
  .buyerCommunityForumComponentRectangleParent:hover {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  }
  .buyerCommunityForumComponentFrameWrapper {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .buyerommunityForumComponentForumNumberBox {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  .buyerCommunityForumComponentForumContainer,
  .buyerCommunityForumComponentForumWrapper1,
  .buyerCommunityForumComponentForumWrapper2 {
    border-radius: 6px;
    border: 1px solid #bac2d6;
    display: flex;
    flex-direction: column;
    padding: 0.88rem 1.88rem;
    align-items: center;
    justify-content: center;
  }
  
  .buyerCommunityForumComponentForumContainer,
  .buyerCommunityForumComponentForumWrapper2 {
    background-color: #fff;
  }
  .buyerCommunityForumComponentForumNumber {
    flex-direction: row;
    padding: 0 0.75rem 0 0;
    align-items: center;
    gap: 0.63rem;
    font-size: 1.06rem;
  }
  
  .buyerCommunityForumComponentForumContainer {
    cursor: pointer;
    transition: 0.5s;
  }
  
  .buyerCommunityForumComponentForumContainer:hover {
    background-color : #E5FCE7;
  }
  
  .buyerCommunityForumComponentForumNumber,
  .buyerCommunityForumComponentFrameParent,
  .buyerCommunityForumComponentMiddleSection {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .buyerCommunityForumComponentFrameParent {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.88rem;
  }
  .buyerCommunityForumComponentMiddleSection {
    flex-direction: row;
    align-items: flex-end;
    font-size: 1.63rem;
    color: #1a202e;
  }
  .buyerCommunityForumComponent,
  .buyerCommunityForumComponentMainPanel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .buyerCommunityForumComponentMainPanel {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    padding: 2.75rem 3.38rem;
    gap: 3.19rem;
    font-size: 1.31rem;
    color: #151630;
  }
  .buyerCommunityForumComponent {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 52.94rem;
    flex-direction: row;
    gap: 0.06rem;
    text-align: left;
    font-size: 1.13rem;
    color: #fff;
    min-height: 100vh;
    height: 100%; 
    font-family: Arial, Helvetica, sans-serif;
  }
  @media screen and (max-width: 1200px) {
    
    .buyerCommunityForumComponentForumContainer,
    .buyerCommunityForumComponentForumWrapper1 {
      padding-left: 1rem;
      padding-right: 1rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 960px) {
    .buyerCommunityForumComponentMainText1 {
      padding-right: 0;
      box-sizing: border-box;
      flex: unset;
      align-self: stretch;
    }
    .buyerCommunityForumComponentTopSection {
      flex-direction: column;
    }
    .buyerCommunityForumComponentButton{
      margin-right: auto;
    }
    .buyerCommunityForumComponentFrameParent {
      flex: unset;
      align-self: stretch;
    }
    .buyerCommunityForumComponentMiddleSection {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 420px) {
    .buyerCommunityForumComponentMainText1 {
      width: 100%;
    }
    .buyerCommunityForumComponentButton {
      width: 100% !important;
    }
    .buyerCommunityForumComponentMainPanel {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      box-sizing: border-box;
    }
  }
  .facebookPostBox {
    margin-top: -40px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 16px;
     width: 100%;
  }
  
  .postTextArea {
    width: 100%;
    min-height: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    resize: vertical;
  }
  
  .postButton {
    margin-left: 1050px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  
  }
  