.buyerMarketplaceComponentBlankLine{
    margin: 0;
  }
  .buyerMarketplaceComponentSubText {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
  }
  .buyerMarketplaceComponentMainText {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .buyerMarketplaceComponentTopSection {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.88rem;
  }
  .buyerMarketplaceComponentFrameChild,
  .buyerMarketplaceComponentCardText {
    align-self: stretch;
    position: relative;
  }
  .buyerMarketplaceComponentFrameChild {
    max-width: 100%;
    overflow: hidden;
    height: 15rem;
    flex-shrink: 0;
    object-fit: cover;
  }
  .buyerMarketplaceComponentCardText {
    letter-spacing: 0.02em;
    line-height: 2.13rem;
  }
  .buyerMarketplaceComponentCardWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .buyerMarketplaceComponentCategoryContainer {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 1.75rem;
  }
  .buyerMarketplaceComponentCategoryWrapper,
  .buyerMarketplaceComponentFrameContainer{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .buyerMarketplaceComponentCategoryWrapper {
    font-size: 1rem;    
  }
  .buyerMarketplaceComponentButtonIcon {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    color: #fff;
  }

  .buyerMarketplaceComponentButtonText {
    position: relative;
    font-size: 1rem;
    letter-spacing: 0.46px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }

  .buyerMarketplaceComponentButton{
    cursor: pointer;
    border: 0;
    padding: 0.75rem 1.13rem;
    background-color: #27ae60;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.38rem;
    transition: 0.5s;
  }

  .buyerMarketplaceComponentButton:hover {
    background-color: #598025;
  }

  .buyerMarketplaceComponentFrameContainer {
    gap: 0.5rem;
  }
  .buyerMarketplaceComponentFrameItem {
    align-self: stretch;
    position: relative;
    border-top: 0.7px solid #ecf0f6;
    box-sizing: border-box;
    height: 0.04rem;
  }
  .buyerMarketplaceComponentAvatarIcon {
    position: relative;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
  }
  .buyerMarketplaceComponentSubName,
  .buyerMarketplaceComponentAuthorName {
    position: relative;
    display: inline-block;
    width: 9.09rem;
  }
  .buyerMarketplaceComponentAuthorName {
    letter-spacing: -0.04em;
    font-weight: 600;
  }
  .buyerMarketplaceComponentSubName {
    font-size: 0.88rem;
    
    color: #96a2be;
  }
  .buyerMarketplaceComponentAuthor,
  .buyerMarketplaceComponentAuthorText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.13rem;
  }
  .buyerMarketplaceComponentAuthor {
    flex-direction: row;
    align-items: center;
    gap: 0.63rem;
    font-size: 1.06rem;
    color: #495367;
    
  }
  .buyerMarketplaceComponentFrameGroup {
    align-self: stretch;
    flex-direction: column;
    padding: 1rem;
    gap: 0.81rem;
  }
  .buyerMarketplaceComponentFrameGroup,
  .buyerMarketplaceComponentFrameWrapper,
  .buyerMarketplaceComponentRectangleParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .buyerMarketplaceComponentRectangleParent{
    text-decoration: none;
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    border: 0.7px solid #dee3eb;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    gap: 0.25rem;
    cursor: pointer;
    width: 32%;
    margin-bottom: 1.25rem;
    transition: 0.5s;
    color: inherit;  
    margin-right: 1rem;  
  }
  .buyerMarketplaceComponentRectangleParent:hover {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  }
  .buyerMarketplaceComponentFrameWrapper {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .buyerMarketplaceComponentPaginationNumber {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  .buyerMarketplaceComponentPaginationContainer,
  .wrapper,
  .wrapper2 {
    border-radius: 6px;
    border: 1px solid #bac2d6;
    display: flex;
    flex-direction: column;
    padding: 0.88rem 1.88rem;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    background-color: rgba(255, 255, 255, 0.06);
  }
  .buyerMarketplaceComponentPaginationContainer,
  .wrapper2 {
    background-color: #fff;
  }
  .buyerMarketplaceComponentCategories {
    flex-direction: row;
    padding: 0 0.75rem 0 0;
    align-items: center;
    gap: 0.63rem;
    font-size: 1.06rem;
    
  }
  .buyerMarketplaceComponentCategories,
  .buyerMarketplaceComponentFrameParent,
  .buyerMarketplaceComponentMiddleSection{
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .buyerMarketplaceComponentFrameParent {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.88rem;
  }
  .buyerMarketplaceComponentMiddleSection {
    flex-direction: row;
    align-items: flex-end;
    font-size: 1.63rem;
    color: #1a202e;
    
  }
  .buyerMarketplaceComponent,
  .buyerMarketplaceComponentMainPanel{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .buyerMarketplaceComponentMainPanel {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    padding: 2.75rem 3.38rem;
    gap: 3.19rem;
    font-size: 1.31rem;
    color: #557153;
  }
  .buyerMarketplaceComponent {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 52.94rem;
    flex-direction: row;
    gap: 0.06rem;
    text-align: left;
    font-size: 1.13rem;
    color: #fff;
    min-height: 100vh;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .buyerMarketplaceComponentPaginationContainer {
    transition: 0.5s;
    cursor: pointer;
  }

  .buyerMarketplaceComponentPaginationContainer:hover {
    background-color: #E5FCE7;
  }

  @media screen and (max-width: 1200px) {
    
    .buyerMarketplaceComponentPaginationContainer
     {
      padding-left: 1rem;
      padding-right: 1rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 960px) {
    .buyerMarketplaceComponentMainText {
      padding-right: 0;
      box-sizing: border-box;
      flex: unset;
      align-self: stretch;
    }
    .buyerMarketplaceComponentTopSection {
      flex-direction: column;
    }
    .buyerMarketplaceComponentFrameParent {
      flex: unset;
      align-self: stretch;
    }
    .buyerMarketplaceComponentButton{
      margin-right: auto;
    }

    .buyerMarketplaceComponentMiddleSection {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 420px) {
    .buyerMarketplaceComponentMainText{
      width: 100%;
    }
    .buyerMarketplaceComponentButton {
      width: 100% !important;
    }
    .buyerMarketplaceComponentMainPanel {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      box-sizing: border-box;
    }
  }

  /**mga inadd sa css**/
 