.buyerMarketplaceComponentPostBlankLine{
  margin: 0;
}
.buyerMarketplaceComponentPostMainTextWrapper {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.buyerMarketplaceComponentPostMainTextContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.buyerMarketplaceComponentPostTopSection {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.88rem;   
}
.buyerMarketplaceComponentPostCard1Image {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.buyerMarketplaceComponentPostCard1{
  flex: 1;
  border-radius: 10.52px;
  height: 34.94rem;
  display: flex;
  flex-direction: column;
  padding: 0 1.56rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.buyerMarketplaceComponentPostSmallCardsProductName,
.buyerMarketplaceComponentPostSmallCardsBuyerName {
  align-self: stretch;
  position: relative;
  line-height: 2.73rem;
}
.buyerMarketplaceComponentPostSmallCardsBuyerName {
  font-size: 0.88rem;
  line-height: 1.23rem;
}
.buyerMarketplaceComponentPostSmallCardsDetails {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.buyerMarketplaceComponentPostSmallCardsFullDescription {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 1.75rem;
}
.buyerMarketplaceComponentPostSmallCardsDescriptionWrapper {
  align-self: stretch;  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1rem;  
}
.buyerMarketplaceComponentPostButtonIcon {
  position: relative;
  width: 1rem;
  height: 1rem;
  color: rgb(48, 47, 47)
}
.buyerMarketplaceComponentPostButtonText {
  position: relative;
  font-size: 0.80rem;
  letter-spacing: 0.46px;
  font-weight: 570;
  color: black;
  text-align: center;
}
.buyerMarketplaceComponentPostButton {
  flex: 1;
  margin-right: 10px;
  background-color: #9DC08B;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
}
.buyerMarketplaceComponentPostButtonText1 {
  position: relative;
  font-size: 0.80rem;
  letter-spacing: 0.46px;
  font-weight: 570;
  color: white;
  text-align: center;
}
.buyerMarketplaceComponentPostButton1:hover {
  background-color: #27AE60; 
}

.buyerMarketplaceComponentPostButton1 {
  flex: 1;
  background-color: #9DC08B;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  margin-top: -100px;
}

.buyerMarketplaceComponentPostButton:hover {
  background-color: #9DC08B;
}

.outlinedButton {
  width: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid #9DC08B;
  border-radius: 5px;
  padding: 0.75rem 1.13rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.outlinedButton:hover {
  background-color: #ebebeb;
}
.buyerMarketplaceComponentPostButtonContainer {
  display: flex;
  justify-content: space-between;
}

.buyerMarketplaceComponentPostButtonContainer button {
  margin-bottom: 10px;
}
.buyerMarketplaceComponentPostButtonContainer .buyerMarketplaceComponentPostButton {
  flex: 1;
  margin-right: 10px;
}


.buyerMarketplaceComponentPostSmallCardsContent,
.buyerMarketplaceComponentPostSmallCardsDescription,
.buyerMarketplaceComponentPostButtonContainer,
.buyerMarketplaceComponentPostSmallCardsHeading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.buyerMarketplaceComponentPostSmallCardsHeading{
  justify-content: flex-start;
  gap: 1.94rem;
}
.buyerMarketplaceComponentPostSmallCardsContent,
.buyerMarketplaceComponentPostSmallCardsDescription {
  flex: 1;
  justify-content: space-between;
}
.buyerMarketplaceComponentPostSmallCardsDescription {
  border-radius: 10.52px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
.buyerMarketplaceComponentPostCardsContainer,
.buyerMarketplaceComponentPostSmallCards {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.buyerMarketplaceComponentPostSmallCards {
  height: 34.94rem;
  flex-direction: column;
  justify-content: flex-start;
}
.buyerMarketplaceComponentPostCardsContainer {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  padding: 0.38rem 3rem 3.06rem 0;
  justify-content: center;
  gap: 1.25rem;
}
.buyerMarketplaceComponentPostMiddleSection {
  align-self: stretch;
  height: 39.44rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 2rem;
  color: #434343;
}
.buyerMarketplaceComponentPostButtonNewTitle {
  position: relative;
  line-height: 200.0%;
  font-weight: 500;
}
.buyerMarketplaceComponentPostButtonNewCard1Price,
.buyerMarketplaceComponentPostButtonNewCard1Title,
.buyerMarketplaceComponentPostButtonNewCard1Image {
  align-self: stretch;
  position: relative;
}
.buyerMarketplaceComponentPostButtonNewCard1Image {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  overflow: hidden;
  height: 15.13rem;
  flex-shrink: 0;
  object-fit: cover;
}
.buyerMarketplaceComponentPostButtonNewCard1Title {
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #000;
  text-align: left;
}
.buyerMarketplaceComponentPostButtonNewCard1Price{
  font-size: 1.0rem;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #27AE60;
  text-align: left;
}
.buyerMarketplaceComponentPostButtonNewCard1Wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.buyerMarketplaceComponentPostButtonNewCard1Details,
.buyerMarketplaceComponentPostButtonNewCard1DetailsInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.buyerMarketplaceComponentPostButtonNewCard1Details {
  flex: 1;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  flex-direction: column;
  padding: 1.25rem 1rem;
  justify-content: center;
}

.buyerMarketplaceComponentPostButtonNewCard1{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.buyerMarketplaceComponentPostButtonNewCard1 {
  cursor: pointer;
  border: 1px solid #ececec;
  padding: 0;
  background-color: transparent;
  flex: 1;
  border-radius: 10px;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  height: 22.44rem;
  flex-direction: column;
}

.buyerMarketplaceComponentPostButtonNewCourses,
.buyerMarketplaceComponentPostButtonNew {
  align-self: stretch;
  gap: 0.63rem;
}
.buyerMarketplaceComponentPostButtonNewCourses {
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.buyerMarketplaceComponentPostButtonNew {
  flex: 1;
  flex-direction: column;
  padding: 0.63rem 5.13rem;
  text-align: center;
  font-size: 1.5rem;
  color: #000;
}
.buyerMarketplaceComponentPost,
.buyerMarketplaceComponentPostMainPanel,
.buyerMarketplaceComponentPostButtonNew {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buyerMarketplaceComponentPostMainPanel {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: 2.75rem 3.38rem;
  gap: 3.19rem;
  font-size: 1.31rem;
  color: #557153;

}
.buyerMarketplaceComponentPost {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 83.5rem;
  flex-direction: row;
  gap: 0.06rem;
  text-align: left;
  font-size: 1.13rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 1200px) {
 
  .buyerMarketplaceComponentPostCard1 {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  .buyerMarketplaceComponentPostMainTextContainer {
    padding-right: 0;
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .buyerMarketplaceComponentPostTopSection {
    flex-direction: column;
  }
  .buyerMarketplaceComponentPostCard1 {
    flex: unset;
    align-self: stretch;
  }
  .buyerMarketplaceComponentPostSmallCardsDescription {
    flex-direction: column;
  }
  .buyerMarketplaceComponentPostCardsContainer,
  .buyerMarketplaceComponentPostSmallCards {
    flex: unset;
    align-self: stretch;
  }
  .buyerMarketplaceComponentPostCardsContainer,
  .buyerarketplaceComponentPostMiddleSection {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .buyerMarketplaceComponentPostMainTextContainer {
    width: 100%;
  }
  .buyerMarketplaceComponentPostCard1Image{
    height: auto !important;
  }
  .buyerMarketplaceComponentPostButton,
  .buyerMarketplaceComponentPostCard1Image{
    width: 100% !important;
  }
  .buyerMarketplaceComponentPostButtonNewCard1DetailsInner {
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
  }
  .buyerMarketplaceComponentPostMainPanel {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
 
.buyerMarketplaceComponentPostButton.outlinedButton {
  width: 150px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 0.75rem 1.13rem;
  color: #000;
  transition: background-color 0.3s ease;
}

.buyerMarketplaceComponentPostButtonRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

}
.popupMessage {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(165, 170, 127, 0.8);
  padding: 10px 20px;
  border-radius: 4px;
  z-index: 9999;
}

.popupText {
  color: white;
  font-size: 18px;
}
.popup-menu {
  position: relative;
  display: inline-block;
  top: -80px;
  right: -520px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  display: none;
}
.popup-menu:hover .menu {
  display: block;
}

.edit-button,
.delete-button {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
}

.edit-button:hover,
.delete-button:hover {
  background-color: rgb(211, 207, 207)
}
.dots-menu {
  position: absolute;
  top: 100%;
  left: -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.popup-menu:hover .dots-menu {
  visibility: visible;
  opacity: 1;
}
