.buyerComponentGroupChild2,
.buyerComponentGroupInner2 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.buyerComponentGroupChild2 {
  color: #557153;
  height: 100%;
  width: 36%;
  top: 0;
  right: 0;
  bottom: 0;
  left:29%;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.buyerComponentGroupChild3 {
  color: #557153;
  height: 100%;
  width: 36%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.buyerComponentGroupInner2 {
  color: #557153;
  height: 74.07%;
  width: 24%;
  top: 12.96%;
  right: 40rem;
  bottom: 12.96%;
  left: -1.5rem;
}
.buyerComponentEllipseParent2 {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 6.25rem;
  height: 2.25rem;
  color: #557153;
  cursor: pointer;
  z-index: 9999; 
}

.buyerComponentGroupChild2:hover {
  color: #fba403;
  transition: 0.5s;
}
.buyerComponentGroupChild3:hover {
  color: #fba403;
  transition: 0.5s;
}


.buyerComponentGroupInner2:hover {
  color: #fba403;
  transition: 0.5s;
}


.dropdownMenu {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.dropdownOption {
  padding: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdownOption:hover {
  background-color: #f0f0f0;
}

.dropdownOption.selected {
  background-color: #f0f0f0;
  font-weight: bold;
}
.searchBar {
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.searchIcon {
  position:absolute;
  font-size: 18px;
  margin-right: 5px;
  color: #888;
  left: 83.5%;
}

input[type="text"] {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}
.buyerTopNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  margin-left: 35rem;
  margin-top: -1.3rem;
 
}
.notificationsModal {
  position: absolute;
  top: 70px;
  right: 10px;
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999999;
}

.notificationsModal h2 {
  font-size: 18px;
  margin: 0 0 10px;
  color: #333333;
  text-align: center;
}

.notificationList {
  list-style-type: none;
  padding: 0;
}

.notificationItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee;
  transition: background-color 0.3s ease;
  cursor: pointer;
}z
.notificationItem:hover {
  background-color: #f5f5f5;
}
.notificationMessage {
  margin-top: -10px;
  font-weight: 300;
  font-size: 13px;
  color: #333333;
}

.notificationTime {
  color: #888888;
  font-size: 13px;
}

.closeButton {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #cccccc;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #999999;
}
.profileImage {
  width: 25px;
  height: 25px;
}
.notificationSender {
 font-size: 13px;
}


.messageSender{
  white-space: nowrap;
  font-size: 14px;
  margin-top: -19rem;
}
.messageMessage{
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
.notification {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-top: 10px;
}
.sender-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.notification {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-top: 10px;
}
.notification-icon {
  font-size: 18px;
  margin-right: 10px;
}
.notification-content {
  flex: 1;
}
.notification-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.notification-title {
  font-weight: bold;
}
.notification-body {
  margin-top: 5px;
}
.notification-close {
  font-size: 16px;
  color: #888;
}
.message {
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.message:hover {
  background-color: #f0f0f0;
}

.message-sender {
 font-size: 15px;
 margin-top: 1rem;
 font-weight: 600;
}

.message-content {
  color: #555;
  font-size: 13px;
  margin-left: 1rem;
}
.message-time {
  font-size: 12px;
  margin-left: 1rem;
}