.shoppingcartPageLayout {
    text-align: center;
  }
  
  .ShoppingCard {
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 9000%;
  
}
  .shoppingCheckbox {
    margin-right: 10px;
  }
  .shoppingCheckbox input[type="checkbox"] {
    margin-right: 5px;
  }
  .shopName {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #557153;
    margin-right: 990px;
  margin-left: 0;
  }
  
  .shoppingImage {
    margin-right: 10px;
  }
  .ShoppingcartCard {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #E6E5A3;
    
  }
  
  .shoppingImage img {
    max-width: 150%;
    height: 150px;
  }
  
  .shopProductName {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
   
  }
  
  .shoppingDetails2{
    margin-top: -10px;
  }
  .shoppingDetails3 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .shoppingActions {
    margin-top: 10px;
  }
  
  .deleteButton {
    margin-left: auto;
  }
  
  .shoppingPageLayout {
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  .checkoutButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .checkoutButton2 {
    background-color: #9DC08B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .checkoutButton2:hover {
    background-color: #b1d4a0;
  }
  .cardDetailsItem {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }
  .cardDetailsItem b {
    margin-right: 5px;
  }
  .cardDetailsItem span {
    font-weight: bold;
  }
  .cardDetailsItem:nth-child(2) span,
.cardDetailsItem:nth-child(4) span {
  margin-left: auto;
}
.cartSummary {
  display: flex;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 2px;
  width: 1450px;
}
.shoppingImage {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
}

.shoppingImageTitle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 20px;
}
.shoppingDetailsRow {
  display: flex;
  justify-content: space-between;
}

.shoppingDetailsItem {
  flex: 1;
}

.shoppingDetailsItemRight {
  text-align: right;
  align-items: flex-end;
}
.shoppingDetailsItemRight1 {
  text-align: right;
  align-items: flex-end;
}
